<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.itwill.mapper.FilmMapper">
   <insert id="insertFilm">
      <selectKey resultType="int" keyProperty="idx" order="BEFORE">
         SELECT FILM_SEQ.NEXTVAL FROM DUAL
      </selectKey>
      INSERT INTO FILM (
         IDX,
         FESTIVAL_IDX,
         TITLE,
         DIRECTOR,
         STORY,
         DAY,
         TIME,
         IMG,
         VIDEO,
         STATUS
      ) VALUES (
         #{idx},
         #{festivalIdx},
         #{title},
         #{director},
         #{story},
         #{day},
         #{time},
         #{img},
         #{video},
         0
      )
   </insert>
   
   <update id="updateFilm">
      UPDATE FILM
      SET   TITLE = #{title},
         DIRECTOR = #{director},
         STORY = #{story},
         DAY = #{day},
         TIME = #{time},
         IMG = #{img},
         VIDEO = #{video}
      WHERE IDX = #{idx}
   </update>
   
   <!-- 영화 삭제 -->
   <update id="updateFilmStatus">
   	  UPDATE FILM
   	  SET STATUS = 1
   	  WHERE IDX = #{idx}
   </update>
   
   <!-- 영화제 삭제 시 해당 영화제에 -->
   <update id="updateFilmStatusList">
      UPDATE FILM
      SET STATUS = 1
      WHERE FESTIVAL_IDX = #{festivalIdx}
   </update>
   
   <select id="selectFilm" resultType="Film">
      SELECT
         IDX,
         FESTIVAL_IDX,
         TITLE,
         DIRECTOR,
         STORY,
         TO_CHAR(DAY, 'yyyy-mm-dd') AS DAY,
         TIME,
         IMG,
         VIDEO
      FROM FILM
      WHERE IDX = #{idx}
   </select>
   
   <select id="selectFilmList" resultType="Film">
      SELECT
         IDX,
         FESTIVAL_IDX,
         TITLE,
         DIRECTOR,
         STORY,
         TO_CHAR(DAY, 'yyyy-mm-dd') AS DAY,
         TIME,
         IMG,
         VIDEO
      FROM FILM
      WHERE FESTIVAL_IDX = #{festivalIdx} AND STATUS = 0
   </select>
   
   <select id="filmDuplicated" resultType="boolean">
	   SELECT
	      COUNT(*)
	   FROM FILM
	   WHERE FESTIVAL_IDX = #{festivalIdx} AND STATUS = 0
	   AND TITLE = #{title}
	</select>
</mapper>